modules = ["python-3.12"]
run = "b2g 입찰공고 획득 파일인데 현재 로컬에서도 작동이 안되고 코드문제는 아닌것 같은데 크롬드라이브로 우회해야하는지 모르겠다."

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "b2g 입찰공고 획득 파일인데 현재 로컬에서도 작동이 안되고 코드문제는 아닌것 같은데 크롬드라이브로 우회해야하는지 모르겠다."]
